@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
    font-family:"Inter", sans-serif;
}

header {
    /* background-color: #F5F0FE; */
    background: rgb(213,195,247);
    background: linear-gradient(180deg, rgba(213,195,247,1) 0%, rgba(245,240,254,1) 100%);
    padding: 30px;

    /* PRUEBA */
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

button {
    background-color: #8554E8;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 16px 45px;
    font-size: 1.3em;
    font-weight: 400;
    transition: 0.3s;
    margin-top: 20px;
    box-shadow:2px 4px 12px #42257e59;
}
button:hover {
    background-color: #6739C6;
    transform: scale(1.05);

}
section {
    padding: 75px 50px;
}

.title{
    background-color: #A17AF0;
    border-radius: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.title h2{
    color: #fff;
    text-align: center;
    padding: 8px 35px;

}

h3 {
    color: #344054;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
 p {
    color: #344054;
    font-weight: 400;
    line-height: 1.3em;
    margin: 20px 0;
 }
 p b {
    font-weight: 600;
 }

/* HOME */

/*=============== HEADER & NAV ===============*/

  nav.nav-small .container-menu-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  nav.nav-small .nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }

  nav.nav-small .nav_list {
    margin-top: 20px;
  }

  nav.nav-small .nav_item {
    padding: 15px 0;
  }

  nav.nav-small .nav_link {
    color: #344054;
    font-weight: 500;
    transition: 0.3s;
    padding: 10px;
  }
  
  nav.nav-small .nav_link:hover {
    color: #8554E8;
  }

  nav.nav-small button.download {
    margin: 20px auto;
    width: 100%;
}

  nav.nav-small .nav_close button {
    margin: 0;
    box-shadow: none;
    background-color: #f5f0fe;
  }
  nav.nav-small .nav_close button:hover {
    background-color: #f5f0fe;
  }
  
 
  
  @media screen and (max-width: 992px) {
    nav.nav-small .nav_menu {
      position: fixed;
     background-color: #F5F0FE;
      z-index: 2;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      padding: 10px;
      transition: .3s;
    }
  }


 /* Show menu */
 nav.nav-small .show-menu {
    right: 0;
  }




#home nav.menu-large {
    background-color: #fff;
    width: 75%;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 1em;

    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#home nav.menu-large ul {
    display: inline-flex;
}
#home nav.menu-large ul li {
    padding: 0 15px;
    color: #344054;
    font-weight: 500;
    transition: 0.3s;
}

#home nav.menu-large ul li:hover {
    color: #8554E8;
}

#home nav.menu-large button {
    padding: 12px 30px;
    font-size: 1em;
    margin: 0;
}

/* HERO SECTION */

#home .hero-section .hero-text {
    padding: 100px 0 100px 50px;
}
#home .hero-section h1 {
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    color: #5C5C5C;
    font-size: 3.2em;
}

#home .hero-section h1 span {
    color: #A17AF0;
    font-size: 1.1em;
}
#home .hero-section p {
    font-size: 1.25em;
    margin-top: 20px;
    color: #5C5C5C;
    line-height: normal;
}

#home .hero-section .hero-img{
    width: 90%;
    float: right;
    margin-right: 20px;
}

.wave {
    margin-top: -1px;
}

/* ABOUT US */

#about img {
    width: 70%;
    float: right;
    margin-right: 50px;
}
#about .text-about {
    margin: 75px 0px;
}
 #about p {
    font-size: 1.25em;
 }

 #about p span {
    color: #8554E8;
 }


/* FEATURES */

#features .cont-features {
    margin: 50px 0 100px 0;
}
#features .feature {
    display: flex;
    border-radius: 10px;
    padding: 36px 28px;
    margin-bottom: 24px;
    transition: 0.3s;
}

#features .feature:hover {
    background-color: #F5F0FE;
}

#features .feature img {
    margin-right: 24px;
}

#features .feature .feature-text h4 {
    color: #344054;
    font-size: 1.3em;
    font-weight: 700;
}

#features .feature .feature-text p {
    margin: 0;
    margin-top: 15px;
}
/* .backg {
    position: absolute;
    right: 0;    
    z-index: -1;
} */

.phone{ 
    /* width: 20%; */
    /* position: absolute;
    right: 210px; */
    margin: 20px 100px;
}



.cont-phone {
    position: absolute;
    right: 0;
}
/* .phone{ 
    width: 30%;
    position: relative;
    right: -315px;
    float: right;

}
.backg {
    position: relative;
    right: 0;
    width: 55%;
    float: right;
    z-index: -1;
} */

/* TESTIMONIALS  */
#testimonial {
    background-color: #F5F0FE;
}

/* .cont-testimonials {
    display: flex;
    justify-content: space-around;
} */
.testimonial {
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
    /* width: 390px; */
    box-shadow: 0px 4px 12px #42257e20;
}

.title-testim {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.title-testim img {
    max-width: 50px;
    vertical-align: middle;
}
.title-testim p {
    margin: 2px;
    margin-left: 12px;
}

.title-testim p.name {
    font-weight: 700;
    font-size: 1.2em;
}

.title-testim p.owner {
    color: #667085;
    font-weight: 400;
    font-size: 0.85em;
}
.text-testim p{ 
    margin: 0;
    font-size: 0.95em;
}



  .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
  }
  .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: #A17AF0;
  }

/* FINAL SECTION  */

#final img {
    width: 70%;
    float: right;
    margin-right: 50px;
}

#final .text-final {
    margin: 60px 0px;
}

#final h3 {
    text-align: left;
    margin-bottom: 36px;
}

#final p {
    font-size: 1.25em;
 }

 #final p span {
    color: #8554E8;
 }

 #final button {
    margin-top: 30px;
 }



/* FOOTER  */

footer {
    background-color: #F5F0FE;
    padding: 75px 50px 25px 50px;
}
footer img.logo {
    width: 70%;
}
footer .cont-links{
    display: flex;
    justify-content: space-around;
}

footer .cont-links h5 {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 15px;
}
footer .cont-links p{
    margin: 8px 0;
}
footer .cont-links p a {
    color: #344054;
    transition: 0.3s;
}
footer .cont-links p a:hover {
    color: #8554E8!important;
}

footer .copyright {
    font-size: 0.9em;
    color: #667085;
    margin-top: 50px;
}